    // .section-feat
.section-feat {
    padding: 72px 0px 117px 0px;

    @media (max-width: $breakpoint992) {
        padding: 50px 0px 70px 0px;
     }

     @media (max-width: $breakpoint480) {
        padding: 30px 0px 30px 0px;
     }

    
     
    
}

.feat {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 24px;

    @media (max-width: $breakpoint1200) {
        align-items: center;
    }

    @media (max-width: $breakpoint992) {
        flex-wrap: wrap;
        flex-direction: column;
     }

     @media (max-width: $breakpoint480) {
        padding-top: 0px;
     }

    // .feat-item

    &-item {
        flex: 0 1 475px;

        @media (max-width: $breakpoint992) {
            flex: 0 1 100%;
            margin-bottom: 60px;
         }

        &-flex{
            display: flex;
            margin-top: 35px;
            background: #F7F7F7;
            border-radius: 12px;
            padding: 15px;
            gap: 10px;

            @media (max-width: $breakpoint992) {
                margin-top: 25px;
                margin-bottom: 40px;
                gap: 50px;
             }

             @media (max-width: $breakpoint480) {
                margin-top: 20px;
                margin-bottom: 20px;
                gap: 30px;
             }


            &-text{
                display: flex;
                flex-direction: column;

                

                
                &-subtitle{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 145%;            
                    color: #001731;            
                    opacity: 0.75;
                    margin-bottom: 8px;

                    @media (max-width: $breakpoint480) {
                        padding-top: 15px;
                        font-size: 14px;
                     }
                }
                &-title{
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 100%;             letter-spacing: -0.03em;  
                    color: #001731;

                    @media (max-width: $breakpoint480) {
                        padding-top: 5px;
                     }
                }
            }
        }

        &-btn{
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;       
            letter-spacing: 0.01em;
            color: #FFFFFF;
            background: #398BFF;
            border-radius: 4px;
            padding: 15px 22px;
            margin-top: 50px;
            transition: all ease .4s;

            @media (max-width: $breakpoint992) {
                margin-top: 40px;
             }



             @media (max-width: $breakpoint480) {
                margin-top: 30px;
                padding: 10px 20px;
                font-size: 14px;

                margin: 0 auto;
                max-width: 100%;
                width: 100%;
                height: auto;
             }

            &:hover{
                background: #2863b5;
            }

        }
    }

    // .feat-item2

    &-item2 {
        flex: 0 1 680px;
        padding-left: 100px;

        @media (max-width: $breakpoint1200) {
           padding-left: 0px;
           flex: 0 1 500px;
        }

        @media (max-width: $breakpoint992) {
            flex: 0 1 100%;
            max-width: 700px;
         }

        &-img{
            max-width: 100%;
            width: 100%;
            height: auto;
        }
    }
}


//acordion

.accordion {
    .accordion__item {
        padding-top: 14px;

        &.accordion__item-active {
            .accordion__item-content {
                display: block;
            }

            .line2 {
                transform: translate(0) !important;
                transition: .3s all ease;
            }

            .line1 {
                opacity: 0;
                transition: .3s all ease;

            }
        }


        .accordion__item-trigger {
            display: flex;
            padding: 25px 80px 25px 25px;
            align-items: center;
            cursor: pointer;
            background: #FFFFFF;
            box-shadow: 0px 4px 15px rgba(10, 21, 39, 0.1);
            border-radius: 6px;

            .trigger__num {
                margin-right: 10px;
                font-size: 16px;

                

            }

            .trigger__text {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.035em;
                color: #000000;
                margin-left: 10px;

                @media (max-width: $breakpoint480) {
                    font-size: 14px;
                 }
            }
        }

        .accordion__item-content {
            margin-top: 10px;
            padding: 25px;
            display: none;
            animation: fade .3s ease;

            background: #FFFFFF;
            box-shadow: 0px 4px 15px rgba(10, 21, 39, 0.1);
            border-radius: 6px;

            .content__text {

                font-weight: 500;
                font-size: 16px;
                line-height: 190%;        
                letter-spacing: 0.02em;
                color: rgba(0, 23, 49, 0.55);

                @media (max-width: $breakpoint480) {
                    font-size: 14px;
                    line-height: 150%;
                 }

                
            }
        }


    }

}
